#wrapper{
	height: 125px;
	width: 400px;
	margin: auto;
	margin-top: 232px;
	/*border: 2px solid orange;*/

}

#hours{
    float: left;
	height: 40px;
	width: 80px;
	color: white;
	font-size: 45px;
}

#min{
	float: left;
	height: 40px;
	width: 80px;
	color: white;
	font-size: 45px;

}

#sec{
	float: left;
	height: 40px;
	width: 80px;
	color: white;
	font-size: 45px;
	}
